    <form method="POST" action="/news/post" >
        <div class="form-group" >
            <label for="searcg-input"> Từ khóa</label>
            <input type="text" name='name'>
            <input type="text" name='age'>
            <input type="text" name='q' class="form-control" id="'search-input" placeholder="Nhap tu khoa....">
        </div>
        <button type="submit" class="btn btn-primary">Tim Kiem</button>
    </form>
